body {
	background-color: #7F8D9A;
}
#team {
	font-size: 30px;
	margin-left: 20px;
}
#box {
	height: 180px;
	width: 800px;
	margin-left: 80px;
	padding-bottom: 30px;
	padding-top: 5px;
	border: 5px solid black;
	border-radius: 25px;
	background-color: #009CD7;
}
#hc {
	margin-left: 30px
}
#hab {
	margin-left: 450px;
	margin-top: -103px;
}
#pts {
	margin-left: 450px;
}
#upb {
	margin-left: 450px;
	margin-top: 15px;
	height: 50px;
	width: 100px;
	font-size: 25px;
	font-weight: bold;
	background-color: #EE4B51;
}
#backb {
	margin-left: -555px;
	height: 80px;
	width: 100px;
	font-size: 43px;
	font-weight: bold;
	background-color: #EE4B51;
}
#draftb {
	height: 60px;
	width: 100px;
	margin-left: 778px;
	margin-top: 10px;
	font-size: 25px;
	font-weight: bold;
	background-color: #EE4B51;
}
#BlueA {
	height: 150px;
	width: 1000px;
	font-size: 50px;
	background-color: #EE4B51;
}
.topbar{
	height: 80px;
	width: 1000px;
	position: fixed;
	background-color: #EE4B51;
	margin-top: -130px;
	margin-left: -8px
}
.botbar {
	height: 150px;
	width: 1000px;
	position: fixed;
	margin-top: 1465px;
	margin-left: -8px;
	background-color: #EE4B51;
}
.firstindent {
	margin-top: 130px;
}
.boxindent {
	margin-top: 60px;
}
.check {
	float: right;
	margin-top: -142px;
	margin-right: 20px;
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
 	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.check:hover input ~ .checkmark {
	background-color: #ccc;
}
.check input:checked ~ .checkmark {
	background-color: #0BCD20;
}
.checkmark:after {
	content: "✔";
	position: absolute;
	display: none;
}
.check input:checked ~ .checkmark:after {
	display: block;
}
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid black;
	border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
#score1 {
	margin-top: -26px;
	margin-left: 73px;
}
#score2 {
	margin-top: -26px;
	margin-left: 73px;
}
#score3 {
	margin-top: -26px;
	margin-left: 63px;
}
#score4 {
	margin-top: -25px;
	margin-left: 127px;
}
#score5 {
	margin-top: -26px;
	margin-left: 73px;
}
#score6 {
	margin-top: -26px;
	margin-left: 73px;
}
#score7 {
	margin-top: -26px;
	margin-left: 63px;
}
#score8 {
	margin-top: -25px;
	margin-left: 127px;
}
#score9 {
	margin-top: -26px;
	margin-left: 73px;
}
#score10 {
	margin-top: -26px;
	margin-left: 73px;
}
#score11 {
	margin-top: -26px;
	margin-left: 63px;
}
#score12 {
	margin-top: -25px;
	margin-left: 127px;
}
